
@{
    ViewBag.Title = "SifremiUnuttum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://www.google.com/recaptcha/api.js"></script>

<h2>Sifremi Unuttum</h2><br />
@using (Html.BeginForm("SifremiUnuttum", "Login", FormMethod.Post))
{
    @Html.TextBox("email", "", new { @class = "form-control col-md-4", @placeholder = "e mail adresini giriniz" })
    <br />
    <div class="g-recaptcha" data-sitekey="6LcZZ5kUAAAAAFJACIQnezWohiW4IeaxqrCgEs6-"></div>

    <br />
    @TempData["Message"]
    <input type="submit" class="btn btn-warning" value="Kodu Gonder" />


} 