@model IEnumerable<KapGel.Models.ViewModelUrun>
@{
    ViewBag.Title = "Marketteki ürünler";
    //    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMarket.cshtml";
}

<button style="margin-right: 5px" type="button" class="btn btn-success" data-toggle="modal" onclick="modal('/MarketUrun/UrunEkleGuncelle/0')" data-target="#mediumModal">
    Yeni Ürü Ekle
</button>
<div class="row">
    @foreach (var i in Model)
    {
        <div class="bg-white " style="margin: 7px; width: 150px; height: 170px; border-radius: 8px;">
            <div style="height: 50%;background-image: url(../../Uploads/ProductsPictures/@i.productPicture);
             background-size: contain; background-repeat:no-repeat;border-radius: 8px;"></div>
            <div style="height: 50%">
                <div class="row">
                    <span class="col-md-8"> &nbsp; @i.productName</span>
                    <span class="col-md-4 text-success">@i.price ₺</span>
                </div>
                <div class="col-md-12" style="bottom: -20px; text-align: right">
                    <button style="margin-right: 5px" type="button" data-toggle="modal" onclick="modal('/MarketUrun/UrunEkleGuncelle/@i.Id')" data-target="#mediumModal">
                        <i style="color: orange" class="fas fa-edit"></i>
                    </button>

                    <button type="button" data-toggle="modal" onclick="ModalileSil('/MarketUrun/Sil/@i.Id')" data-target="#staticModal">
                        <i style="color: red" class="fas fa-trash-alt"></i>
                    </button>
                </div>
            </div>

        </div>
    }
</div> 