
<div class="left-sidebar">
    <h2>KateGori</h2>
    <div class="panel-group category-products" id="accordian">
        <!--category-productsr-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                        Oyuncaklar
                    </a>
                </h4>
            </div>
            <div id="sportswear" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li><a href="#">....... </a></li>
                        <li><a href="#">....... </a></li>
                        <li><a href="#">....... </a></li>
                        <li><a href="#">....... </a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#mens">
                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                        Kız Çocuk
                    </a>
                </h4>
            </div>
            <div id="mens" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li><a href="#">aaaaa</a></li>
                        <li><a href="#">aaaaa</a></li>
                        <li><a href="#">aaaaa</a></li>
                        <li><a href="#">aaaaa</a></li>
                        <li><a href="#">aaaaa</a></li>
                        <li><a href="#">aaaaa</a></li>
                        <li><a href="#">aaaaa</a></li>
                        <li><a href="#">aaaaa</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#womens">
                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                        Erkek Çocuk
                    </a>
                </h4>
            </div>
            <div id="womens" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li><a href="#">eeeeee</a></li>
                        <li><a href="#">eeeeee</a></li>
                        <li><a href="#">eeeeee</a></li>
                        <li><a href="#">eeeeee</a></li>
                        <li><a href="#">eeeeee</a></li>
                        <li><a href="#">eeeeee</a></li>
                        <li><a href="#">eeeeee</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="#">Araba Oyuncakları</a></h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="#">Bez bebek</a></h4>
            </div>
        </div>
    </div><!--/category-products-->


    <div class="price-range">
        <!--price-range-->
        <h2>Ücret Aralığı</h2>
        <div class="well text-center">
            <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br />
            <b class="pull-left">₺ 0</b> <b class="pull-right">₺ 600</b>
        </div>
    </div><!--/price-range-->

    <div class="shipping text-center">
        <!--shipping-->
        <img src="images/home/shipping.jpg" alt="" />
    </div><!--/shipping-->

</div>