@model IEnumerable<KapGel.Models.EntityFramework.Categories>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMarket.cshtml";
}

 
<script src="~/assets/Scripts/jquery-3.3.1.js"></script>

<div class="table-responsive table--no-card m-b-30">
    <table class="table table-borderless table-striped table-earning">
        <thead>
            <tr>
                <th>icon</th> 
                <th>Kategori adi</th> 
                <th>Üst Kategori Adi</th> 
                <th>Onaylandımı</th> 
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr> 
                    <td><i class="@i.icon"></i></td>
                    <td>@i.categoryName</td>
                    <td>@i.topCategoryId</td>
                    <td>@i.IsitApproved</td>
                    <td>
                        <a href="/OnayBekleyenUrunler/UrunOnayla/@i.Id" class="btn btn-success"><i class="fa fa-check"></i></a>
                        <a href="#" class="btn btn-danger"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
 